
/* GLOBALES */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*,
::before,
::after{
    padding: 0px;
    margin: 0px;
}
body{
    /* background-color: #fdd85e; */
}
html{
    font-size: 20px;
    font-family: monospace;
}
a{
    text-decoration: none;
}

/* -------------------------------------- HEADER ---------------------------------- */

/* HEADER */
#header{
    background-image: radial-gradient(500px circle, #666, #222);
    width: 100%;
    height: 100vh;
    position: relative;
}
#header nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header nav li {
    list-style: none;
}
#icon {
    width: 10%;
}
#icon img {
    width: 30%;
    margin-left: 50px;
    border-radius: 50%;
}
#header nav li a {
    margin: 15px 50px;
    font-family: Viga, sans-serif;
    text-decoration: none;
    color: white;
}
#header nav li a:hover {
    transition: .3s all;
    color: #f8decd;
    text-shadow: 0px 0px 7px black;
    font-size: 22px;
}
#title {
    font-family: 'Courgette', cursive;
    font-size: 6.5em;
    color: #faebe2;
    margin-top: 200px;
    margin-left: 550px;
    position: absolute;
    z-index: 1;
    text-shadow: 0px 0px 10px black;
}
#fondo2{
    background-image: url("imagenes/fondo.jpg");
    background-position-y: center;
    width: 450px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}


/* CARRITO */
#carrito-container{
    margin-right: 100px;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 0px;
}
#cantidad{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    padding: 2px;
    border-radius: 100%;
}
#carrito{
    font-size: 1.5em;
}


/* --------------------------------------- MAIN --------------------------------------------- */





