
/* GLOBALES */
*,
::before,
::after{
    padding: 0px;
    margin: 0px;
}
body{
    /* background-color: #fdd85e; */
}
html{
    font-size: 20px;
    font-family: monospace;
}
a{
    text-decoration: none;
}

/* -------------------------------------- HEADER ---------------------------------- */

/* HEADER */
#header{
    background-image: radial-gradient(500px circle, #666, #222);
    width: 100%;
    height: 100vh;
    position: relative;
}
#header nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid white;
}
#header nav li {
    list-style: none;
}
#header nav li a {
    margin: 15px 50px;
    font-family: Viga, sans-serif;
    text-decoration: none;
    color: white;
}
#title {
    font-family: Viga, sans-serif;
    font-size: 2em;
    color: white;
    margin-top: 250px;
    margin-left: 350px;
}
#fondo2{
    background-image: url("imagenes/fondo.jpg");
    background-position-y: center;
    width: 450px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}


/* CARRITO */
#carrito-container{
    margin-right: 100px;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 0px;
}
#cantidad{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    padding: 2px;
    border-radius: 100%;
}
#carrito{
    font-size: 1.5em;
}


/* --------------------------------------- MAIN --------------------------------------------- */





