
*,
::after,
::before{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #faebe2;
}

/* ESTILOS DEL NAV Y DEL CARRITO */
nav{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}
nav a {
    margin: 20px 150px;
    /* border: 2px solid black; */
}
#home-a {
    font-size: 1.3em;
    font-family: Viga, sans-serif;
    text-decoration: none;
    color: black;
}
#home-a:hover {
    transition: 0.2s;
    text-shadow: 0px 0px 5px black;
    color: #ddd;
}
#carrito{
    margin-left: 680px;
    font-size: 1.3em;
    transition: 0.2s;
    color: black;
}
#carrito:hover {
    transition: 0.2s;
    text-shadow: 0px 0px 5px black;
    color: #ddd;
}
/* estilos del maiin */
#seleccion{
    margin: 20px 50px;
    border-radius: 20px;
    padding: 5px 10px;
}
#seleccion:hover{
    box-shadow: 0px 0px 10px #044;
}
#btn-traer{
    display: inline-block;
    font-family: 'Viga', sans-serif;
    font-size: 1.7em;
    text-align: center;
    margin: 35vh 0px;
    text-shadow: 0px 0px 10px gray;
    transition: .5s all;
    margin-left: 550px;
}
#btn-traer:hover{
    transition: .5s all;
    text-shadow: 0px 0px 10px black;
    color: #ddd;
    cursor: pointer;
    font-size: 2em;
}
#almacen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.card{
    margin: 20px;
    transition: .3s all;
}
.card:hover{
    box-shadow: 0px 0px 5px black;
}

/* estilos para la tabla */
#table{
    /* outline: 5px solid black; */
    width: 90%;
    margin: 50px auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}
#fila-modified{
    font-size: 1.5em;
    padding: 5px;
}


/* estilos para el boton finalizar y el total */
#cantidad{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin-left: 70px;
}
#cantidad p{
    font-family: 'Viga', sans-serif;
    font-size: 1.5em;
}

#btn-finalizar{
    border-radius: 7px;
    padding: 5px;
    background: none;
    margin-left: 70px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #fdd85e;
    margin-bottom: 50px;
}
#btn-finalizar:hover{
    box-shadow: 0px 0px 5px 3px gray;
    border: none;
}


.img-card{
    margin: 9px;
    width: 266px;
    height: 266px;
}


